:root {
  --bg-primary: light-dark(var(--color-base-white), var(--color-gray-950));

  --bg-primary_alt: light-dark(var(--color-base-white), var(--color-gray-900));

  --bg-primary_hover: light-dark(var(--color-gray-50), var(--color-gray-800));

  --bg-primary-solid: light-dark(var(--color-gray-950), var(--color-gray-900));

  --bg-secondary: light-dark(var(--color-gray-50), var(--color-gray-900));
  --bg-secondary_alt: light-dark(var(--color-gray-50), var(--color-gray-950));
  --bg-secondary_hover: light-dark(var(--color-gray-100), var(--color-gray-800));
  --bg-secondary_subtle: light-dark(var(--color-gray-25), var(--color-gray-900));

  --bg-secondary-solid: light-dark(var(--color-gray-600), var(--color-gray-600));

  --bg-tertiary: light-dark(var(--color-gray-100), var(--color-gray-800));

  --bg-quaternary: light-dark(var(--color-gray-200), var(--color-gray-700));

  --bg-active: light-dark(var(--color-gray-50), var(--color-gray-800));

  --bg-disabled: light-dark(var(--color-gray-100), var(--color-gray-800));
  --bg-disabled_subtle: light-dark(var(--color-gray-50), var(--color-gray-900));

  --bg-overlay: light-dark(var(--color-gray-950), var(--color-gray-800));

  --bg-brand-primary: light-dark(var(--color-brand-50), var(--color-brand-500));
  --bg-brand-primary_alt: light-dark(
    var(--color-brand-50),
    var(--color-gray-800)
  );

  --bg-brand-secondary: light-dark(
    var(--color-brand-100),
    var(--color-brand-600)
  );

  --bg-brand-solid: light-dark(var(--color-brand-600), var(--color-brand-600));
  --bg-brand-solid_hover: light-dark(
    var(--color-brand-700),
    var(--color-brand-500)
  );

  --bg-brand-section: light-dark(var(--color-brand-800), var(--color-gray-800));
  --bg-brand-section_subtle: light-dark(
    var(--color-brand-700),
    var(--color-gray-950)
  );

  --bg-error-primary: light-dark(var(--color-error-50), var(--color-error-500));

  --bg-error-secondary: light-dark(
    var(--color-error-100),
    var(--color-error-600)
  );

  --bg-error-solid: light-dark(var(--color-error-600), var(--color-error-600));

  --bg-warning-primary: light-dark(
    var(--color-warning-50),
    var(--color-warning-500)
  );

  --bg-warning-secondary: light-dark(
    var(--color-warning-100),
    var(--color-warning-600)
  );

  --bg-warning-solid: light-dark(
    var(--color-warning-600),
    var(--color-warning-600)
  );

  --bg-success-primary: light-dark(
    var(--color-success-50),
    var(--color-success-500)
  );

  --bg-success-secondary: light-dark(
    var(--color-success-100),
    var(--color-success-600)
  );

  --bg-success-solid: light-dark(
    var(--color-success-600),
    var(--color-success-600)
  );
}
