:root {
  --font-size-display-2xl: 72px;
  --font-size-display-xl: 60px;
  --font-size-display-lg: 48px;
  --font-size-display-md: 36px;
  --font-size-display-sm: 30px;
  --font-size-display-xs: 24px;
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-md: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
}
