:root {
  --text-primary: light-dark(var(--color-gray-900), var(--color-gray-50));
  --text-primary_on-brand: light-dark(
    var(--color-base-white),
    var(--color-gray-50)
  );

  --text-secondary: light-dark(var(--color-gray-700), var(--color-gray-300));
  --text-secondary_hover: light-dark(
    var(--color-gray-800),
    var(--color-gray-200)
  );
  --text-secondary_on-brand: light-dark(
    var(--color-brand-200),
    var(--color-gray-300)
  );

  --text-tertiary: light-dark(var(--color-gray-600), var(--color-gray-400));
  --text-tertiary_hover: light-dark(
    var(--color-gray-700),
    var(--color-gray-400)
  );
  --text-tertiary_on-brand: light-dark(
    var(--color-brand-200),
    var(--color-gray-400)
  );

  --text-quaternary: light-dark(var(--color-gray-500), var(--color-gray-400));
  --text-quaternary_on-brand: light-dark(
    var(--color-brand-300),
    var(--color-gray-400)
  );

  --text-white: light-dark(var(--color-base-white), var(--color-base-white));

  --text-disabled: light-dark(var(--color-gray-500), var(--color-gray-500));

  --text-placeholder: light-dark(var(--color-gray-500), var(--color-gray-400));
  --text-placeholder_subtle: light-dark(
    var(--color-gray-300),
    var(--color-gray-700)
  );

  --text-brand-primary: light-dark(var(--color-brand-900), var(--color-gray-50));

  --text-brand-secondary: light-dark(
    var(--color-brand-700),
    var(--color-gray-300)
  );

  --text-brand-tertiary: light-dark(
    var(--color-brand-600),
    var(--color-gray-400)
  );
  --text-brand-tertiary_alt: light-dark(
    var(--color-brand-600),
    var(--color-gray-50)
  );

  --text-error-primary: light-dark(
    var(--color-error-600),
    var(--color-error-400)
  );

  --text-warning-primary: light-dark(
    var(--color-warning-600),
    var(--color-warning-400)
  );

  --text-success-primary: light-dark(
    var(--color-success-600),
    var(--color-success-400)
  );
}
